* {
    margin: 0;
    padding: 0;
    font-family: Verdana, serif;
    box-sizing: border-box;
}

body {
    background-color: #93d0e4;
    color: #25748f;
}

.number {
    font-size: 32px;
    letter-spacing: 3px;
    padding: 30px;
    text-align: center;
    margin: 300px 0;
}